.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // background-color: red;
    color: gray;
    text-align: center;
  }

.person{
    padding: 10px !important;
    height: 30px !important;
    width: 30px !important;
}