Insira a Palavra
<input #palavra type="password">
<button (click)="envia(palavra.value); palavra.value = ''">Ok</button>
<button (click)="limpa()">Limpar</button>


<div *ngIf="letras">
    <br>
    <span *ngFor="let l of letras">
        <span *ngIf="l.includes(' ')">&nbsp;&nbsp;</span>
        <input disabled *ngIf="!l.includes(' ')" style="width: 15px;" [value]="letrasCorretas.includes(l) ? l : ''">
    </span>
</div>

<br><br>

faltam {{chances}} erros para terminar
<br>
<img [src]="getImgSrc()">

<br><br>

<div>
    Adicionar nova letra
    <input #novaLetra style="width: 15px;">
    <button (click)="adicionaLetra(novaLetra.value); novaLetra.value= ''">Ok</button>
</div>
<br>
Letras erradas: <span *ngFor="let letra of letrasIncorretas">{{letra}}, </span>