.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // background-color: red;
    color: gray;
    text-align: center;
  }

.person{
    padding: 8px !important;
    height: 30px !important;
    width: 30px !important;
}
.keyboard{
  text-align: center;
}
.keyboard button {
  margin-bottom: .5rem;
  margin-left: .15rem;
  margin-right: .15rem;
}