.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // background-color: red;
    color: gray;
    text-align: center;
  }

.person{
    padding: 8px !important;
    height: 30px !important;
    width: 30px !important;
}
.keyboard{
  text-align: center;
}
.keyboard button {
  margin-bottom: .5rem;
  margin-left: .15rem;
  margin-right: .15rem;
}
//para usar futuramente para deixar os botões menores para o mobile
.b {
  width: 24px;
    height: 30px;
    /* padding: 0px; */
    /* margin: 0; */
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}