<div class="container">
    <div class="row">
        <div class="col-md-2" [hidden]="letras">
            <label class="control-label">Insira a Palavra</label>
        </div>
        <div class="col-md-6" [hidden]="letras">
            <div class="input-group mb-3">
                <input class="form-control" #palavra [type]="tipo">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button"
                        (click)="alternaTipo()">{{textoBotao}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-1" [hidden]="letras">
            <button class="btn btn-primary" (click)="envia(palavra.value); palavra.value = ''">Ok</button>
        </div>
        <div class="col-md-1" [hidden]="!letras">
            <button class="btn btn-secondary" (click)="limpa()">Limpar</button>
        </div>
    </div>


    <div style="text-align: center;">
        <label *ngIf="letras">O jogo começou</label>
        <br>
        <div *ngIf="letras">
            <span *ngFor="let l of letras" style="font-size: 1.75rem;">
                <span *ngIf="l.includes(' ')">&nbsp;&nbsp;</span>
                <span *ngIf="!l.includes(' ') && !letrasCorretas.includes(l)">_&nbsp;</span>
                <span *ngIf="!l.includes(' ') && letrasCorretas.includes(l)">{{l}}</span>
            </span>
        </div>

        <br><br>

        <div *ngIf="letras" class="center">
            Faltam {{chances}} erros para terminar
            <br>
            <img [src]="getImgSrc()">
        </div>

        <br><br>

        <div class="keyboard" *ngIf="letras">
            <div>
                <button [class.btn-success]="letrasCorretas.includes(t)"
                    [class.btn-danger]="letrasIncorretas.includes(t)" [class.btn-sm]="isMobile"
                    class="btn btn-secondary" *ngFor="let t of teclas.slice(0,10)"
                    (click)="adicionaLetra(t)">{{t}}</button>
            </div>
            <div>
                <button [class.btn-success]="letrasCorretas.includes(t)"
                    [class.btn-danger]="letrasIncorretas.includes(t)" [class.btn-sm]="isMobile"
                    class="btn btn-secondary" *ngFor="let t of teclas.slice(10,20)"
                    (click)="adicionaLetra(t)">{{t}}</button>
            </div>
            <div>
                <button [class.btn-success]="letrasCorretas.includes(t)"
                    [class.btn-danger]="letrasIncorretas.includes(t)" [class.btn-sm]="isMobile"
                    class="btn btn-secondary" *ngFor="let t of teclas.slice(20)"
                    (click)="adicionaLetra(t)">{{t}}</button>
            </div>
        </div>

        <br>
        <span *ngIf="letras">Letras erradas: <span *ngFor="let letra of letrasIncorretas">{{letra}}, </span></span>
    </div>
    <!-- <div class="footer">
        <p>Cássio Gabriel</p>
    </div> -->
</div>